<!DOCTYPE html>
<html>
  <head>
      <title>Search Engine</title>
      <link href="styles.css" rel="stylesheet" />
  </head>

<body>
  <form action="/" method="post">
    <input name="area" type="text" placeholder="Search an area of interest"/>
    <input type="submit" />
  </form>

  {% for name in data %}
            
    <div class='entry'>        
        <span class='fullName'> Name: {{ data[name].fullName }} </span> <br>
        <span class='education'> Education: {{ data[name].education }} </span><br>
        <span class='publications'> Publications: {{ data[name].publications }} </span><br>
        <span class='researchArea'> Areas of research: {{ data[name].researchArea }}</span><br>
        <span class='externalLinks'> Links: <a href="{{ data[name].externalLinks }}" target="_blank">{{ data[name].externalLinks }}</a></span>
    </div>
    <br>
  {% endfor %}  
</body>

</html>

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.2.4/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.2.4/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  var firebaseConfig = {
    apiKey: "AIzaSyCjLDhkHWPLY_pwn0zgb4qV-KD-amgNCJQ",
    authDomain: "boilermake-8-project.firebaseapp.com",
    projectId: "boilermake-8-project",
    storageBucket: "boilermake-8-project.appspot.com",
    messagingSenderId: "282706198398",
    appId: "1:282706198398:web:c9f7c2cd4ba801de1b3d2f",
    measurementId: "G-JPSKWG81V7"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>